.tr
{
  position: relative;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(209, 199, 199);

  td
  {
    padding: 15px 10px;
  }

  &::after
  {
    position: absolute;
    width: 100%;
    background: #000;
    height: 2px;
    bottom: 0;
    left: 0px;
  }
}