.handlers
{
  display: flex;
  justify-content: center;
  padding: 10px;


  select
  {
    padding: 5px;
    font-size: 15px;
    margin: 0 5px;
  }
}

.search_input
{
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(109, 104, 104);
}