.table
{
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: left;

}

.table_header
{
  position: relative;

  th
  {
    padding: 10px;

  }

  &::after
  {
    position: absolute;
    content: '';
    width: 100%;
    bottom: -5px;
    left: 0;
    background: #000;
    height: 2px;
  }
}